side-menu{
    position: fixed;
    display: block;
    width: 270px;
    bottom: 0;
    top: 64px;
}

side-menu > div{
    width: 100%;
    min-height: 100%;
}

side-menu user-card {
    width: 100%;
    height: 150px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}