side-menu{
    position: fixed;
    display: block;
    width: 270px;
    bottom: 0;
    top: 64px;
}

side-menu > div{
    width: 100%;
    min-height: 100%;
}

side-menu user-card{
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-end;
    height: 150px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

side-menu user-card > .photo{
    margin-left: 12px;
}

side-menu user-card user-row{ 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-self: stretch;
}

side-menu user-card user-row user-info{ 
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 12px;
}

side-menu user-card user-row user-info user-name{ 
    color: #fff;
    font-weight: 300;
}

side-menu user-card user-row user-info user-role{ 
    color: #ddd;
    font-weight: 100;
}